html {
  font-family: 'Courier New', Courier, monospace;
  font-size: 30px;
  scroll-behavior: smooth;
  padding-left: 10px;
}

h1 {
  font-size: 35px;
  text-align: center;
}

.mains {
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
}
